.height{
  width: 100%;
  height: 8vh;
}

.background{
  background-color: lightgreen;
}

.search-container{
  width: 30vw;
  position: relative;
  display: block;
}
.button{
  position: absolute;
  right: 1;
  padding: 12px;

}