/* .input-width{
  width: 50vw;
  padding: 8px 10px;
  border-radius: 50px;
} */

.status-post-btn{
  background-color: lightgreen;
  padding: 5px 10px;
  margin-left: 10px;
}

.status-modal-btn{
  background-color: lightgreen;
  padding: 5px 10px;
  margin-left: 10px;
}

.upload-image{
  font-size: 50px;
  color: blueviolet;
}